<div *ngIf="post">
    <div>
      <div><h4>{{post.title}}</h4></div>
      <div>by {{post.author}}</div>
      <div><small>{{post.description}}</small></div>
      <span>Version: {{post.version}}</span>
      <span>{{post.created.toLocaleDateString()}}</span>
    </div>
    <div>
      <div *ngIf="post.type === 'TEXT'">{{post.contentText}}</div>
      <div *ngIf="post.type === 'EDITOR'">
        <app-editor [postId]="post.postId"></app-editor>
      </div>
      <div>
        Save and increment version:
        <button (click)="saveAndIncrement()">
          Save
        </button>
      </div>
      <div>
        <app-comments [postId]="post.postId" [comments]="post.comments" ></app-comments>
      </div>
    </div>
</div>
