
<form (ngSubmit)="addComment()" #addCommentForm="ngForm">
  <h4>Add a comment </h4>
  <label for="comment-author">Name: </label>
  <input type="text" id="comment-author" name="commentAuthor" [(ngModel)]="composedComment.author" required/>
  <br />
  <div *ngIf="parentComment">
    <div>Reply to {{parentComment.author}} @{{parentComment.commentId}}</div>
    <a (click)="cancelReplyTo()">Cancel reply</a>
  </div>
  <br />
  <label for="comment-area">Comment text: </label>
  <textarea rows="5" cols="40" id="comment-area" name="commentArea" [(ngModel)]="composedComment.text" required></textarea>
  <br />
  <button type="submit" [disabled]="!addCommentForm.form.valid">Post Comment</button>
  <br />
</form>

<div *ngIf="comments">
  <div *ngFor="let comment of comments">
    <div *ngIf="comment.replyTo === null && comment.replyToId === null" [class.active-comment]="comment === parentComment" >  <!-- don't display replies to other comments as top level comments-->
      <div>{{comment.author}}</div><div>{{comment.created.toLocaleDateString()}}</div>
      <div>{{comment.text}}</div> <a (click)="setParentComment(comment.commentId)">reply</a>
      <div *ngFor="let reply of comment.replies" class="reply">
        <div>{{reply.author}}</div><div>{{reply.created.toLocaleDateString()}}</div>
        <div>{{reply.text}}</div>
      </div>
    </div>
  </div>
</div>
