<h3 (click)="toggleCommentForm()" class="link">Add a comment</h3>
<div *ngIf="commentForm">
  <form (ngSubmit)="addComment()" #addCommentForm="ngForm" class="comment-form">
    <div class="form-group">
      <label for="comment-author">Name: </label>
      <input type="text" id="comment-author" name="commentAuthor" [(ngModel)]="composedComment.author" required/>
    </div>
    <div *ngIf="parentComment" class="form-group">
      <div>Reply to {{parentComment.author}} @{{parentComment.commentId}}</div>
      <a class="link" (click)="clearParentComment()">Cancel reply</a>
    </div>
    <div class="form-group">
      <label for="comment-area">Comment text: </label><br />
      <textarea rows="5" cols="40" id="comment-area" name="commentArea" [(ngModel)]="composedComment.text" required></textarea>
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="!addCommentForm.form.valid">Submit</button>
    </div>
  </form>
</div>

<div *ngIf="comments" class="comments-wrapper">
  <h4>Comments</h4>
  <div *ngFor="let comment of comments">
    <!-- don't display replies to other comments as top level comments-->
    <div *ngIf="comment.replyTo === null && comment.replyToId === null">
      <div class="comment" [class.active-comment]="comment === parentComment">
        <div>
          No. {{comment.commentId}} by
          <span class="comment-author">{{comment.author}}</span>
           at
          <span class="comment-created">{{comment.created.toLocaleTimeString()}} on {{comment.created.toLocaleDateString()}}</span>
        </div>
        <div class="comment-text">{{comment.text}}</div>
        <div><a (click)="setParentComment(comment.commentId)" class="link"><small>reply</small></a></div>
      </div>
      <div *ngFor="let reply of comment.replies" class="comment-reply">
        <div>
          Reply to #{{comment.commentId}} by
          <span class="comment-author">{{reply.author}}</span>
           at
          <span class="comment-created">{{reply.created.toLocaleTimeString()}} on {{comment.created.toLocaleDateString()}}</span>
        </div>
        <div class="comment-text">{{reply.text}}</div>
      </div>
    </div>
  </div>
</div>
